<% include ./partials/header.ejs%>
<header class="navbar navbar-expand-sm navbar-dark bg-dark-blue">
  <div class="navbar-brand mr-2">
    <button
      class="btn btn-warning form-control"
      title="Costomer Service Platform"
    >
      <i class="fas fa-headset"></i> CSR
    </button>
  </div>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <div class="form-inline mr-auto mt-2 mt-sm-0">
      <button class="btn btn-info mr-2 form-control">
        <i class="fas fa-home"></i> Dashboard
      </button>
      <div
        class="btn-group p-0 mb-2 mb-sm-0 form-control border-0"
        role="group"
      >
        <button
          id="btnGroupDrop"
          type="button"
          class="btn btn-secondary w-100 dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="fas fa-plus-circle"></i> New
        </button>

        <div
          class="dropdown-menu bg-dark-blue w-100"
          aria-labelledby="btnGroupDrop"
        >
          <button
            class="btn btn-outline-light border-0 w-100"
            data-toggle="modal"
            data-target="#companyModal"
          >
            <i class="far fa-building"></i> Company
          </button>
          <button
            class="btn btn-outline-light border-0 w-100"
            data-toggle="modal"
            data-target="#ticketModal"
          >
            <i class="fas fa-clipboard-list"></i> Ticket
          </button>

        </div>
      </div>
    </div>

    <div class="form-inline my-2 my-sm-0">
      <button
        class="btn btn-outline-light mr-2 mb-2 mb-sm-0 form-control"
        data-toggle="modal"
        data-target="#profileModal"
      >
        <i class="fas fa-user-edit"></i> My Profile
      </button>
      <a href="/auth/logout">
        <button class="btn btn-danger mr-2 form-control">
          <i class="fas fa-sign-out-alt"></i> Logout
        </button></a
      >
    </div>
  </div>
</header>

<div class="container-fluid">
  <div class="row flex-xl-nowrap">
    <div class="col-12 col-xl-2 col-lg-3 bd-sidebar pl-0 pr-2">
      <div class="jumbotron jumbotron-fluid py-3">
        <div class="container mx-auto text-center justify-content-center">
          <p class="display-1">
            <i class="fas fa-user-circle"></i>
          </p>
          <p class="lead">Customer Service Platform</p>
          <form class="form-inline my-2 my-lg-0 justify-content-center">
            <div class="input-group mb-3">
              <input
                class="form-control"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-outline-success my-2 my-sm-0"
                  type="submit"
                >
                  Search
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <main class="col-12 col-xl-10 col-lg-9 py-md-3 pl-md-2 bd-content">
      <div class="row justify-content-center">
        <div class="col-12 mb-3">
          <div class="card border-dark">
            <div class="card-header bg-secondary">
              <button class="btn btn-light float-left">
                <i class="fas fa-building"></i> Companies
              </button>
              <button
                class="btn btn-warning float-right"
                data-toggle="modal"
                data-target="#companyModal"
              >
                <i class="fas fa-plus"></i>
              </button>
            </div>
            <div class="card-body">
              <div class="table-responsive-lg">
                <table class="table table-bordered table-hover m-0">
                  <caption>
                    List of Bussinesses & Companies
                  </caption>
                  <thead class="thead-light">
                    <tr>
                      <th scope="col"><i class="fas fa-hashtag"></i></th>
                      <th scope="col"><i class="fas fa-language"></i> Name</th>
                      <th scope="col"><i class="fas fa-user"></i> Contact</th>
                      <th scope="col"><i class="fas fa-envelope"></i> Email</th>
                      <th scope="col"><i class="fas fa-phone"></i> Phone</th>
                      <th scope="col">
                        <i class="fas fa-map-marked-alt"></i> Country
                      </th>
                      <th scope="col">
                        <i class="fas fa-map-marker-alt"></i> City
                      </th>
                      <th scope="col">
                        <i class="fas fa-info-circle"></i> More
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <% companies.forEach(function(company){ %>
                      <td>
                        <%= company.id%>
                      </td>
                      <td>
                        <%= company.companyName%>
                      </td>
                      <td>
                        <%= company.companyContact%>
                      </td>
                      <td>
                        <%= company.companyEmail%>
                      </td>
                      <td>
                        <%= company.companyPhone%>
                      </td>
                      <td>
                        <%= company.companyCountry%>
                      </td>
                      <td>
                        <%= company.companyCity%>
                      </td>
                      <td>  <a href="/companies/edit-company/<%= company.id%>">
                        <button
                          class="btn btn-sm btn-outline-primary mx-3"
                          title="Edit"
                        >
                          <i class="fas fa-edit"></i></button
                      ></a>
                      <a href="/companies/delete-company/<%= company.id%>">
                        <button
                          class="btn btn-sm btn-outline-danger"
                          title="Delete"
                        >
                          <i class="fas fa-trash-alt"></i></button
                      ></a></td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer text-muted">
              2 days ago
            </div>
          </div>
        </div>


        <div class="col-12 mb-3">
          <div class="card border-dark">
            <div class="card-header bg-secondary">
              <button class="btn btn-light float-left">
                <i class="fas fa-clipboard-list"></i> Tickets
              </button>
              <button
                class="btn btn-warning float-right"
                data-toggle="modal"
                data-target="#ticketModal"
              >
                <i class="fas fa-plus"></i>
              </button>
            </div>
            <div class="card-body">
              <div class="table-responsive-lg">
                <table class="table table-bordered table-hover m-0">
                  <caption>
                    List of Tickets
                  </caption>
                  <thead class="thead-light">
                    <tr>
                      <th scope="col"><i class="fas fa-hashtag"></i></th>
                      <th scope="col">
                        <i class="fas fa-building"></i> Company
                      </th>
                      <th scope="col">
                        <i class="fas fa-user-tie"></i> Technician
                      </th>
                      <th scope="col">
                        <i class="fas fa-check-double"></i> Status
                      </th>
                      <th scope="col">
                        <i class="fas fa-sync-alt"></i> Updated
                      </th>
                      <th scope="col"><i class="far fa-clock"></i> Created</th>
                      <th scope="col">
                        <i class="fas fa-info-circle"></i> More
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <% tickets.forEach(function(t){%>
                        <tr>
                    <td>
                      <%=t.id%>
                    </td>
                    <td>
                      <%=t.ticketCompany%>
                    </td>
                    <td>
                      <%=t.ticketTech%>
                    </td>
                    <td>
                      <%=t.ticketStatus%>
                    </td>
                    <td>
                      <%=t.updatedAt%>
                    </td>
                    <td>
                      <%=t.createdAt%>
                    </td>
                    <td>
                      <a href="/tickets/edit-ticket/<%= t.id%>">
                        <button
                          class="btn btn-sm btn-outline-primary mx-3"
                          title="Edit"
                        >
                          <i class="fas fa-edit"></i></button
                      ></a>
                      <a href="/tickets/delete-ticket/<%= t.id%>">
                        <button
                          class="btn btn-sm btn-outline-danger"
                          title="Delete"
                        >
                          <i class="fas fa-trash-alt"></i></button
                      ></a>
                      </td>
                      </tr>
                    <%}) %>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer text-muted">
              2 days ago
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

<!-- Profile Modal -->
<div
  class="modal fade"
  id="profileModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark-blue">
        <button class="btn btn-outline-light" id="modalheader">
          <i class="fas fa-user-edit"></i> My Profile
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="form-row form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <button type="button" class="btn btn-info" disabled>
                  <i class="fas fa-user"></i>
                </button>
              </div>
              <input
                type="text"
                class="form-control"
                name="myname"
                placeholder="Name"
              />
            </div>
          </div>
          <div class="form-row form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <button type="button" class="btn btn-dark" disabled>
                  <i class="fas fa-users"></i>
                </button>
              </div>
              <select class="form-control" required name="myrole">
                <option value="" selected>Select a Role</option>
                <option value="csr">CSR</option>
                <option value="technician">Technician</option>
                <option value="manager">Manager</option>
              </select>
            </div>
          </div>
          <div class="form-row form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <button type="button" class="btn btn-dark" disabled>
                  <i class="fas fa-phone"></i>
                </button>
              </div>
              <input
                type="text"
                class="form-control"
                name="myphone"
                placeholder="Phone Number"
              />
            </div>
          </div>
          <div class="form-row form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <button type="button" class="btn btn-dark" disabled>
                  <i class="fas fa-envelope"></i>
                </button>
              </div>
              <input
                type="email"
                class="form-control"
                name="myemail"
                placeholder="Email Address"
              />
            </div>
          </div>
          <div class="form-row form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <button type="button" class="btn btn-warning" disabled>
                  <i class="fas fa-key"></i>
                </button>
              </div>
              <input
                type="password"
                class="form-control"
                name="mypassword"
                placeholder="Password"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary cmd">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Company Modal -->
<div
  class="modal fade"
  id="companyModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
<form action="/companies/add" method="POST">

  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-dark-blue">
        <button class="btn btn-outline-light" id="modalheader">
          <i class="fas fa-building"></i> Add Company
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="form-row form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <button type="button" class="btn btn-dark" disabled>
                  <i class="fas fa-building"></i>
                </button>
              </div>
              <input
                type="text"
                class="form-control"
                name="companyname"
                placeholder="Company Name"
              />
            </div>
          </div>
          <div class="form-row form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <button type="button" class="btn btn-dark" disabled>
                  <i class="fas fa-user"></i>
                </button>
              </div>
              <input
                type="text"
                class="form-control"
                name="contactname"
                placeholder="Contact Name"
              />
            </div>
          </div>
          <div class="form-row form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <button type="button" class="btn btn-dark" disabled>
                  <i class="fas fa-envelope"></i>
                </button>
              </div>
              <input
                type="email"
                class="form-control"
                name="companyemail"
                placeholder="Email"
              />
            </div>
          </div>
          <div class="form-row form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <button type="button" class="btn btn-dark" disabled>
                  <i class="fas fa-phone"></i>
                </button>
              </div>
              <input
                type="text"
                class="form-control"
                name="companyphone"
                placeholder="Phone"
              />
            </div>
          </div>

          <div class="form-row form-group">
            <div class="input-group-prepend">
              <button type="button" class="btn btn-info" disabled>
                <i class="fas fa-map-marker-alt"></i>
              </button>
            </div>
            <div class="col">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  name="companyaddress1"
                  placeholder="Address 1 (Required)"
                />
              </div>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  name="companyaddress2"
                  placeholder="Address 2 (Optional)"
                />
              </div>
            </div>
          </div>

          <div class="form-row form-group">
            <div class="input-group-prepend">
              <button type="button" class="btn btn-info" disabled>
                <i class="fas fa-map-marked-alt"></i>
              </button>
            </div>
            <div class="col">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  name="companycity"
                  placeholder="City"
                />
                <input
                  type="text"
                  class="form-control"
                  name="companyprovince"
                  placeholder="Province/State"
                />
              </div>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  name="companypostal"
                  placeholder="Postal Code"
                />
                <select class="form-control" required name="companycountry">
                  <option value="" selected>Select a Country</option>
                  <option value="Afganistan">Afghanistan</option>
<option value="Albania">Albania</option>
<option value="Algeria">Algeria</option>
<option value="American Samoa">American Samoa</option>
<option value="Andorra">Andorra</option>
<option value="Angola">Angola</option>
<option value="Anguilla">Anguilla</option>
<option value="Antigua &amp; Barbuda">Antigua &amp; Barbuda</option>
<option value="Argentina">Argentina</option>
<option value="Armenia">Armenia</option>
<option value="Aruba">Aruba</option>
<option value="Australia">Australia</option>
<option value="Austria">Austria</option>
<option value="Azerbaijan">Azerbaijan</option>
<option value="Bahamas">Bahamas</option>
<option value="Bahrain">Bahrain</option>
<option value="Bangladesh">Bangladesh</option>
<option value="Barbados">Barbados</option>
<option value="Belarus">Belarus</option>
<option value="Belgium">Belgium</option>
<option value="Belize">Belize</option>
<option value="Benin">Benin</option>
<option value="Bermuda">Bermuda</option>
<option value="Bhutan">Bhutan</option>
<option value="Bolivia">Bolivia</option>
<option value="Bonaire">Bonaire</option>
<option value="Bosnia &amp; Herzegovina">Bosnia &amp; Herzegovina</option>
<option value="Botswana">Botswana</option>
<option value="Brazil">Brazil</option>
<option value="British Indian Ocean Ter">British Indian Ocean Ter</option>
<option value="Brunei">Brunei</option>
<option value="Bulgaria">Bulgaria</option>
<option value="Burkina Faso">Burkina Faso</option>
<option value="Burundi">Burundi</option>
<option value="Cambodia">Cambodia</option>
<option value="Cameroon">Cameroon</option>
<option value="Canada">Canada</option>
<option value="Canary Islands">Canary Islands</option>
<option value="Cape Verde">Cape Verde</option>
<option value="Cayman Islands">Cayman Islands</option>
<option value="Central African Republic">Central African Republic</option>
<option value="Chad">Chad</option>
<option value="Channel Islands">Channel Islands</option>
<option value="Chile">Chile</option>
<option value="China">China</option>
<option value="Christmas Island">Christmas Island</option>
<option value="Cocos Island">Cocos Island</option>
<option value="Colombia">Colombia</option>
<option value="Comoros">Comoros</option>
<option value="Congo">Congo</option>
<option value="Cook Islands">Cook Islands</option>
<option value="Costa Rica">Costa Rica</option>
<option value="Cote DIvoire">Cote D'Ivoire</option>
<option value="Croatia">Croatia</option>
<option value="Cuba">Cuba</option>
<option value="Curaco">Curacao</option>
<option value="Cyprus">Cyprus</option>
<option value="Czech Republic">Czech Republic</option>
<option value="Denmark">Denmark</option>
<option value="Djibouti">Djibouti</option>
<option value="Dominica">Dominica</option>
<option value="Dominican Republic">Dominican Republic</option>
<option value="East Timor">East Timor</option>
<option value="Ecuador">Ecuador</option>
<option value="Egypt">Egypt</option>
<option value="El Salvador">El Salvador</option>
<option value="Equatorial Guinea">Equatorial Guinea</option>
<option value="Eritrea">Eritrea</option>
<option value="Estonia">Estonia</option>
<option value="Ethiopia">Ethiopia</option>
<option value="Falkland Islands">Falkland Islands</option>
<option value="Faroe Islands">Faroe Islands</option>
<option value="Fiji">Fiji</option>
<option value="Finland">Finland</option>
<option value="France">France</option>
<option value="French Guiana">French Guiana</option>
<option value="French Polynesia">French Polynesia</option>
<option value="French Southern Ter">French Southern Ter</option>
<option value="Gabon">Gabon</option>
<option value="Gambia">Gambia</option>
<option value="Georgia">Georgia</option>
<option value="Germany">Germany</option>
<option value="Ghana">Ghana</option>
<option value="Gibraltar">Gibraltar</option>
<option value="Great Britain">Great Britain</option>
<option value="Greece">Greece</option>
<option value="Greenland">Greenland</option>
<option value="Grenada">Grenada</option>
<option value="Guadeloupe">Guadeloupe</option>
<option value="Guam">Guam</option>
<option value="Guatemala">Guatemala</option>
<option value="Guinea">Guinea</option>
<option value="Guyana">Guyana</option>
<option value="Haiti">Haiti</option>
<option value="Hawaii">Hawaii</option>
<option value="Honduras">Honduras</option>
<option value="Hong Kong">Hong Kong</option>
<option value="Hungary">Hungary</option>
<option value="Iceland">Iceland</option>
<option value="India">India</option>
<option value="Indonesia">Indonesia</option>
<option value="Iran">Iran</option>
<option value="Iraq">Iraq</option>
<option value="Ireland">Ireland</option>
<option value="Isle of Man">Isle of Man</option>
<option value="Israel">Israel</option>
<option value="Italy">Italy</option>
<option value="Jamaica">Jamaica</option>
<option value="Japan">Japan</option>
<option value="Jordan">Jordan</option>
<option value="Kazakhstan">Kazakhstan</option>
<option value="Kenya">Kenya</option>
<option value="Kiribati">Kiribati</option>
<option value="Korea North">Korea North</option>
<option value="Korea Sout">Korea South</option>
<option value="Kuwait">Kuwait</option>
<option value="Kyrgyzstan">Kyrgyzstan</option>
<option value="Laos">Laos</option>
<option value="Latvia">Latvia</option>
<option value="Lebanon">Lebanon</option>
<option value="Lesotho">Lesotho</option>
<option value="Liberia">Liberia</option>
<option value="Libya">Libya</option>
<option value="Liechtenstein">Liechtenstein</option>
<option value="Lithuania">Lithuania</option>
<option value="Luxembourg">Luxembourg</option>
<option value="Macau">Macau</option>
<option value="Macedonia">Macedonia</option>
<option value="Madagascar">Madagascar</option>
<option value="Malaysia">Malaysia</option>
<option value="Malawi">Malawi</option>
<option value="Maldives">Maldives</option>
<option value="Mali">Mali</option>
<option value="Malta">Malta</option>
<option value="Marshall Islands">Marshall Islands</option>
<option value="Martinique">Martinique</option>
<option value="Mauritania">Mauritania</option>
<option value="Mauritius">Mauritius</option>
<option value="Mayotte">Mayotte</option>
<option value="Mexico">Mexico</option>
<option value="Midway Islands">Midway Islands</option>
<option value="Moldova">Moldova</option>
<option value="Monaco">Monaco</option>
<option value="Mongolia">Mongolia</option>
<option value="Montserrat">Montserrat</option>
<option value="Morocco">Morocco</option>
<option value="Mozambique">Mozambique</option>
<option value="Myanmar">Myanmar</option>
<option value="Nambia">Nambia</option>
<option value="Nauru">Nauru</option>
<option value="Nepal">Nepal</option>
<option value="Netherland Antilles">Netherland Antilles</option>
<option value="Netherlands">Netherlands (Holland, Europe)</option>
<option value="Nevis">Nevis</option>
<option value="New Caledonia">New Caledonia</option>
<option value="New Zealand">New Zealand</option>
<option value="Nicaragua">Nicaragua</option>
<option value="Niger">Niger</option>
<option value="Nigeria">Nigeria</option>
<option value="Niue">Niue</option>
<option value="Norfolk Island">Norfolk Island</option>
<option value="Norway">Norway</option>
<option value="Oman">Oman</option>
<option value="Pakistan">Pakistan</option>
<option value="Palau Island">Palau Island</option>
<option value="Palestine">Palestine</option>
<option value="Panama">Panama</option>
<option value="Papua New Guinea">Papua New Guinea</option>
<option value="Paraguay">Paraguay</option>
<option value="Peru">Peru</option>
<option value="Phillipines">Philippines</option>
<option value="Pitcairn Island">Pitcairn Island</option>
<option value="Poland">Poland</option>
<option value="Portugal">Portugal</option>
<option value="Puerto Rico">Puerto Rico</option>
<option value="Qatar">Qatar</option>
<option value="Republic of Montenegro">Republic of Montenegro</option>
<option value="Republic of Serbia">Republic of Serbia</option>
<option value="Reunion">Reunion</option>
<option value="Romania">Romania</option>
<option value="Russia">Russia</option>
<option value="Rwanda">Rwanda</option>
<option value="St Barthelemy">St Barthelemy</option>
<option value="St Eustatius">St Eustatius</option>
<option value="St Helena">St Helena</option>
<option value="St Kitts-Nevis">St Kitts-Nevis</option>
<option value="St Lucia">St Lucia</option>
<option value="St Maarten">St Maarten</option>
<option value="St Pierre &amp; Miquelon">St Pierre &amp; Miquelon</option>
<option value="St Vincent &amp; Grenadines">St Vincent &amp; Grenadines</option>
<option value="Saipan">Saipan</option>
<option value="Samoa">Samoa</option>
<option value="Samoa American">Samoa American</option>
<option value="San Marino">San Marino</option>
<option value="Sao Tome &amp; Principe">Sao Tome &amp; Principe</option>
<option value="Saudi Arabia">Saudi Arabia</option>
<option value="Senegal">Senegal</option>
<option value="Serbia">Serbia</option>
<option value="Seychelles">Seychelles</option>
<option value="Sierra Leone">Sierra Leone</option>
<option value="Singapore">Singapore</option>
<option value="Slovakia">Slovakia</option>
<option value="Slovenia">Slovenia</option>
<option value="Solomon Islands">Solomon Islands</option>
<option value="Somalia">Somalia</option>
<option value="South Africa">South Africa</option>
<option value="Spain">Spain</option>
<option value="Sri Lanka">Sri Lanka</option>
<option value="Sudan">Sudan</option>
<option value="Suriname">Suriname</option>
<option value="Swaziland">Swaziland</option>
<option value="Sweden">Sweden</option>
<option value="Switzerland">Switzerland</option>
<option value="Syria">Syria</option>
<option value="Tahiti">Tahiti</option>
<option value="Taiwan">Taiwan</option>
<option value="Tajikistan">Tajikistan</option>
<option value="Tanzania">Tanzania</option>
<option value="Thailand">Thailand</option>
<option value="Togo">Togo</option>
<option value="Tokelau">Tokelau</option>
<option value="Tonga">Tonga</option>
<option value="Trinidad &amp; Tobago">Trinidad &amp; Tobago</option>
<option value="Tunisia">Tunisia</option>
<option value="Turkey">Turkey</option>
<option value="Turkmenistan">Turkmenistan</option>
<option value="Turks &amp; Caicos Is">Turks &amp; Caicos Is</option>
<option value="Tuvalu">Tuvalu</option>
<option value="Uganda">Uganda</option>
<option value="Ukraine">Ukraine</option>
<option value="United Arab Erimates">United Arab Emirates</option>
<option value="United Kingdom">United Kingdom</option>
<option value="United States of America">United States of America</option>
<option value="Uraguay">Uruguay</option>
<option value="Uzbekistan">Uzbekistan</option>
<option value="Vanuatu">Vanuatu</option>
<option value="Vatican City State">Vatican City State</option>
<option value="Venezuela">Venezuela</option>
<option value="Vietnam">Vietnam</option>
<option value="Virgin Islands (Brit)">Virgin Islands (Brit)</option>
<option value="Virgin Islands (USA)">Virgin Islands (USA)</option>
<option value="Wake Island">Wake Island</option>
<option value="Wallis &amp; Futana Is">Wallis &amp; Futana Is</option>
<option value="Yemen">Yemen</option>
<option value="Zaire">Zaire</option>
<option value="Zambia">Zambia</option>
<option value="Zimbabwe">Zimbabwe</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="submit" class="btn btn-primary cmd">Save</button>
      </div>
    </div>
  </div>
</form>s
</div>

<!-- Ticket Modal -->
<div
  class="modal fade"
  id="ticketModal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
<form action="/tickets/add" method="POST">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      
    <div class="modal-content">
        <div class="modal-header bg-dark-blue">
          <button class="btn btn-outline-light" id="modalheader">
            <i class="fas fa-clipboard-list"></i> Add Ticket
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="form-row form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <button type="button" class="btn btn-info" disabled>
                    <i class="fas fa-user"></i>
                  </button>
                </div>
                <input
                  type="text"
                  class="form-control"
                  name="ticketname"
                  placeholder="Name"
                />
              </div>
            </div>
            <div class="form-row form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <button type="button" class="btn btn-info" disabled>
                    <i class="fas fa-user"></i>
                  </button>
                </div>
               <select name="tickettech" id="" class="form-control">
                   <option value="" >Assign technician</option>
                   <% staff.forEach(function(s){if(s.employeeRole === "technician"){ %>
                      <option value="<%= s.employeeName%>"><%= s.employeeName%></option>
                    <%} }) %>
               </select>
              </div>
            </div>
            <div class="form-row form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <button type="button" class="btn btn-secondary" disabled>
                    <i class="fas fa-building"></i>
                  </button>
                </div>
                <input
                  type="text"
                  class="form-control"
                  name="ticketcompany"
                  placeholder="Company Name"
                />
              </div>
            </div>
            <div class="form-row form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <button type="button" class="btn btn-secondary" disabled>
                    <i class="fas fa-phone"></i>
                  </button>
                </div>
                <input
                  type="number"
                  class="form-control"
                  name="ticketphone"
                  placeholder="Phone Number"
                />
              </div>
            </div>
            <div class="form-row form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <button type="button" class="btn btn-secondary" disabled>
                    <i class="fas fa-envelope"></i>
                  </button>
                </div>
                <input
                  type="email"
                  class="form-control"
                  name="ticketemail"
                  placeholder="Email"
                />
              </div>
            </div>
            <div class="form-row form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <button type="button" class="btn btn-secondary" disabled>
                    <i class="fas fa-info"></i>
                  </button>
                </div>
                <textarea
                  class="form-control"
                  name="ticketdescription"
                  placeholder="Description"
                  rows="2"
                ></textarea>
              </div>
            </div>
            <div class="form-row form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <button type="button" class="btn btn-secondary" disabled>
                    <i class="fas fa-search"></i>
                  </button>
                </div>
                <input
                  class="form-control"
                  name="ticketresolution"
                  placeholder="Resolution"
                  rows="2"
                  type="date"
                >
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary cmd">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
<% include ./partials/footer.ejs%>
